@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-scroller::-webkit-scrollbar {
  width: 0.6rem !important;
}

.cm-scroller::-webkit-scrollbar-track {
  background: transparent !important;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background: #55566d !important;
}



@layer base {
  body {
    @apply min-h-screen bg-neutral-light box-border
  }

  button {
    @apply box-border cursor-pointer
  }

  select,
  a {
    @apply cursor-pointer
  }


}




button,


html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  text-size-adjust: none;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

* {
  box-sizing: border-box;
}

input,
select {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}