@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-scroller::-webkit-scrollbar {
  width: 0.6rem !important;
}

.cm-scroller::-webkit-scrollbar-track {
  background: transparent !important;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background: #55566d !important;
}



@layer base {


  body {
    @apply min-h-screen bg-mainBg box-border text-[#fff]
  }

  button {
    @apply box-border cursor-pointer
  }

  h1 {
    @apply text-[2.4rem] leading-[8.8rem] font-bold text-center
  }

  section {
    @apply w-full px-[2rem] flex flex-col items-center justify-center relative
  }

  p {
    @apply text-neutral-light text-[1.6rem] leading-[140%]
  }

  select,
  a {
    @apply cursor-pointer
  }
}

@layer components {
  .navLink {

    @apply text-[#fff] text-shadow text-[1.4rem] font-bold leading-[1.6rem] tracking-[0.2px]
  }

  .textGradient {
    @apply bg-clip-text text-[transparent]
  }



}

.radialGradient {
  background: radial-gradient(circle, rgba(0, 152, 255, 1) 0%, rgba(0, 152, 255, 0) 70%);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  text-size-adjust: none;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

* {
  box-sizing: border-box;
}



ul {
  list-style: none;
}